main{
    min-height: 80vh;
    font-family: hypatia-sans-pro, sans-serif;
    font-style: normal;
    /* font-weight: 200; */
    text-transform: capitalize;
}
a {
    color:#969696;
    text-decoration: none;
  }
  a:hover{
    color: #424242;
  }
  
.header a:hover {
     color: #FFF
  }
.rating span {
    margin: 0.1rem;
}

/* .product {
    height: 400px;
} */


